<div class="welcome-container">
  <div class="title">
    <h1>mybudget</h1>
  </div>
  <div class="links">
    <p class="signin-welcome"><%= link_to 'sing in', new_user_session_path%></p>
    <p class="signup-welcome"><%= link_to 'sign up', new_user_registration_path %></p>
  </div>
</div>