/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face{
   font-family: "Proxima Nova";
   src: url('/assets/Proxima-Nova-Font')
 }
 /*login css*/
 body{
   margin:0;
   padding: 0;
 }
 .login-navbar{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #3778c2;
  width: 95%;
  height: 8vh;
 }
 .section-one{
  display: flex;
  width: 57%;
  justify-content: space-between;
  align-items: center;
 }
 .button-login{
  position: absolute;
    top: 43px;
    left: 350px;
    
 }
 .button-login > input, .button-signup > input {
  border: none;
  background-color: #3778c2;
  color: white;
  font-size: 16px;
  font-family: "Proxima Nova";
 }
 .button-signup{
  position: absolute;
  top: 43px;
  left: 345px;
 }
 
 .back-button,.login-h2{
   color: white;
   font-family: "Proxima Nova","Arial";
 }
 .field{
   margin-top: 10px;
 }
 .field > input{
  padding: 10px;
    width: 94%;
    margin: auto;
    display: block;
    border-radius: 3px;
    border: none;
 }
 .forgot-password{
  display: inline-block;
    text-align: center;
    width: 100%;
 }
 .forgot-password > a{
   color:grey;
   text-decoration: none;
   font-family: "Proxima Nova","Arial";
 }
 .category-container, .expense-container{
  display: flex;
  padding: 0 20px;
  margin: 10px 0;
  gap:20px;
 }
 .img-container{
  width: 25%;
  background-color: #e0e0e0;
 }
 .img-container > img {
   width: 100%;
   height: auto;
 }
 
